#argos-python/
#argos-blockchain/
build/
FloorEstimation/results/data/
FloorEstimation/logs/
FloorEstimation/node_modules/
*~
FloorEstimation/identifiers.txt
argos-blockchain/geth/files/genesis_poa.json
argos-blockchain/geth/files/genesis_poa.jsone
argos-blockchain/geth/files/pipucks-harmony.json
FloorEstimation/__pycache__/

backups/

MarketForaging/__pycache__/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
