[submodule "argos-python"]
	path = argos-python
	url = https://github.com/KenN7/argos-python.git
[submodule "argos-blockchain"]
	path = argos-blockchain-sm
	url = git@github.com:teksander/argos-blockchain.git
