#argos-python/
#argos-blockchain/
FloorEstimation/results/
FloorEstimation/logs/
FloorEstimation/node_modules/
*~
FloorEstimation/identifiers.txt
argos-blockchain/geth/files/genesis_poa.json
argos-blockchain/geth/files/genesis_poa.jsone
argos-blockchain/geth/files/pipucks-harmony.json

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
