# Insert the csv headers for 

# [FILENAMES]

estimate.csv
buffer.csv
vote.csv
block.csv
sc.csv
sync.csv
extra.csv

sim.csv
tx.csv


# [HEADERS]

['ESTIMATE','W','B','S1','S2','S3']
['#BUFFER', '#GETH','#ALLOWED', 'BUFFERPEERS', 'GETHPEERS','ALLOWED']
['VOTE']
['TELAPSED','TIMESTAMP','BLOCK', 'HASH', 'PHASH', 'DIFF', 'TDIFF', 'SIZE','TXS', 'UNC', 'PENDING', 'QUEUED']
['BLOCK', 'BALANCE', 'UBI', 'PAY','#ROBOT', 'MEAN', '#VOTES','#OKVOTES', '#MYVOTES','#MYOKVOTES', 'R?','C?']
['#BLOCKS']
['%RAM', '%CPU']
['FPS']
['MINED?', 'BLOCK', 'NONCE', 'VALUE', 'STATUS', 'HASH']




