[General]
arena_size = float(os.environ["ARENADIM"])
num_robots = int(os.environ["NUMROBOTS"])
time_limit = int(os.environ["TIMELIMIT"])

[Marketplace]
market_params['position'] = 'center'
market_params['size'] = 0.1 

[Resources]
count = 10 # 0.1*generic_params['num_robots']
radius_mu = 0.06 * generic_params['arena_size']  
radius_sigma = resource_params['radius_mu']/100
quantity_min = 1
quantity_max = 20